body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

svg{
    background-color: aquamarine;
}

#tooltip{
    visibility: hidden;
    width: auto;
    height: auto;
}